.form-control {
  border-width: 2.3px;
}

.form-group label {
  width: 100%;
}

.btn.btn-block {
  padding: 12px 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.no-margin {
  margin: 0;
}

button{
  margin-bottom: 10px;
  background-color: #486eb1;
}

.btn-facebook{
  background-color: #3b5998;
  position: relative;

  fa{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0,0,0,0.2);

    i{
      font-size: 2.25em;
      line-height: 1.4;
    }
  }

  &:hover{
    background-color: darken(#3b5998, 10);
  }
}
